<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Decksterity PowerPoint Add-in" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Decksterity" 
           UpgradeCode="46653388-8664-4963-B4D0-24192C6D0A4A">
           
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Decksterity PowerPoint Add-in" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <!-- Prerequisites -->
    <PropertyRef Id="NETFRAMEWORK472"/>
    <Condition Message="This application requires .NET Framework 4.7.2 or higher. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK472]]>
    </Condition>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Decksterity" />
      </Directory>
      <!-- Registry entries for VSTO add-in -->
      <Directory Id="HKLM" Name="HKEY_LOCAL_MACHINE">
        <Directory Id="SOFTWARE" Name="SOFTWARE">
          <Directory Id="Microsoft" Name="Microsoft">
            <Directory Id="Office" Name="Office">
              <Directory Id="PowerPoint" Name="PowerPoint">
                <Directory Id="Addins" Name="Addins">
                  <Directory Id="AddinRegistry" Name="decksterity" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main VSTO files -->
      <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-123456789012">
        <File Id="DecksterityDll" Source="$(var.SolutionDir)bin\Release\decksterity.dll" />
        <File Id="DecksterityVsto" Source="$(var.SolutionDir)bin\Release\decksterity.vsto" />
        <File Id="DecksterityManifest" Source="$(var.SolutionDir)bin\Release\decksterity.dll.manifest" />
      </Component>
      
      <!-- Dependencies -->
      <Component Id="Dependencies" Guid="23456789-2345-2345-2345-234567890123">
        <File Id="VstoUtilities" Source="$(var.SolutionDir)bin\Release\Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
      </Component>
      
      <!-- Registry entries for VSTO add-in -->
      <Component Id="RegistryEntries" Guid="34567890-3456-3456-3456-345678901234" Directory="AddinRegistry">
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Office\PowerPoint\Addins\decksterity" 
                      Name="Description" Type="string" Value="Enhanced slide elements and layout tools for PowerPoint" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Office\PowerPoint\Addins\decksterity" 
                      Name="FriendlyName" Type="string" Value="Decksterity PowerPoint Add-in" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Office\PowerPoint\Addins\decksterity" 
                      Name="LoadBehavior" Type="integer" Value="3" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Office\PowerPoint\Addins\decksterity" 
                      Name="Manifest" Type="string" Value="[INSTALLFOLDER]decksterity.vsto|vstolocal" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>